<a href="https://colab.research.google.com/github/eunbipark0223-max/Python/blob/main/07_%ED%8A%9C%ED%94%8C%EA%B3%BC_%EC%A7%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 튜플 tuple :

* (a, b) 또는 괄호 없이 콤마로 구분
* 파이썬 내부 동작에서 주로 사용, 쉼표를 튜플 생성자로 사용하니 괄호는 생략 가능
* (a, ) 하나의 요소만 갖는 튜플 선언시 요소 뒤에 콤마
* 리스트와 비슷하지만 튜플은 값의 수정 불가능, 불변
* 튜플 자체는 수정이 불가능하지만, 원소로 수정 가능한 리스트나 딕셔너리를 담는 것은 가능

In [1]:
nums = {1,2,3,4}
print(nums)

{1, 2, 3, 4}

In [2]:
nums = 1,2,3,4
print(nums)

(1, 2, 3, 4)

In [3]:
words = 'apple', 'banana', 'cherry'
print(type(words))
print(words)

<class 'tuple'>
('apple', 'banana', 'cherry')

In [4]:
nums = (10,20,30)
print(nums[0]) #인덱싱
print(nums[1:]) #슬라이싱

10
(20, 30)

In [9]:
nums = (5,7,4)
print(len(nums))
print(sum(nums))
print(max(nums))
print(sorted(nums))
print(nums+nums)
print(nums*3)

3
16
7
[4, 5, 7]
(5, 7, 4, 5, 7, 4)
(5, 7, 4, 5, 7, 4, 5, 7, 4)

In [6]:
nums = (10,20,30)
nums[0] = 15 #인덱싱이나 어팬드로 추가하는 등의 수정은 안됨

TypeError: 'tuple' object does not support item assignment

In [8]:
nums = (5,7,4)
nums +=(3, ) #이런식의 튜플 + 튜플은 됨
print(nums)

(5, 7, 4, 3)

### 딕셔너리 dictionary, dict
* {'키 key' : 값 value}
* non sequence type 순서가 없다
* key는 변경 불가능한 자료형만 사용 가능, 키key에서는 리스트, 딕셔너리, 집합은 사용 불가
* 딕셔너리의 값(Value)에는 무엇이든 올 수 있다
* 값 접근 mydic[’key’]
* 내장함수: keys(), values(), items(), get(), pop()

In [10]:
#딕셔너리 생성
name_price = {}
name_price=dict()
name_price = {'apple':1000,'banana':2000,'grape':3000}
name_price = dict(apple=1000, banana=2000, grape=3000)
print(name_price['apple'])

1000

In [11]:
arr_num={ [1,2]:3} # 키는 리스트를 사용하지 못함. why? 리스트는 값이 계속 바뀌기 때문

TypeError: unhashable type: 'list'

In [12]:
name_price1={'apple':3000,'grape':5000}
name_price2={'grape':5000,'apple':3000}
print(name_price1==name_price2) #딕셔너리는 순서가 없음

True

In [ ]:
arr_num = {(1,2):3} #key는 튜플 사용 가능

In [13]:
d = dict()
d['apple'] = 3000
print(d)

{'apple': 3000}

In [16]:
d = {'apple':3000}
d['apple'] = 5000
print(d['apple'])
print('apple' in d)
print('banana' in d)

5000
True
False

In [ ]:
name_price = {'apple':1000,'banana':2000,'grape':3000}
print(len(name_price))

In [18]:
for k in name_price:
  print(k)

for k in name_price:
  print(name_price[k])

for k in name_price:
  print(k, name_price[k])

apple
banana
grape
1000
2000
3000
apple 1000
banana 2000
grape 3000

In [ ]:
print(name_price.keys()) # 딕셔너리의 모든 키
print(name_price.values()) # 딕셔너리의 모든 값
print(name_price.items()) #딕셔너리의 모든 키:값

In [19]:
#get() 딕셔너리에서 주어진 키의 값을 결과로 준다
print(name_price.get('apple'))
print(name_price.get('orange'))
print(name_price.get('orange',0))

1000
None
0

In [20]:
print(name_price.pop('banana'))
print(name_price)

2000
{'apple': 1000, 'grape': 3000}

In [21]:
name_age ={'kim':20,'lee':30}
for k,v in name_age.items():
  print(k,v)

kim 20
lee 30

In [22]:
print(name_age.get('kim'))
print(name_age.get('park',-1))

20
-1

### 집합 set
* 집합의 원소는 반드시 '값이 변하지 않는(Hashable)' 상태여야 한다. 리스트나 딕셔너리는 언제든 값이 바뀔 수 있기 때문에 집합의 원소가 될 수 없다
* 중복되지 않은 요소들로 구성된 자료형
* 집합내의 모든 요소들은 순서가 없다
* 인덱싱이나 슬라이싱으로 집합 내의 요소에 접근할수 없다
* set1 = {1,2,3}
* set1 = {} 는 딕셔너리로 인식
* set2 = set()
* 연산자 : | 합집합, & 교집합, - 차집합, ^ 대칭 차집합(합집합에서 교집합을 뺀 집합)
* 내장함수 : add(), remove(), update()

In [23]:
nums = {1,1,1,1,1}
print(nums)
print(len(nums))

{1}
1

In [24]:
nums={1,2,3}
print(nums[1]) #집합은 인덱싱, 슬라이싱 요소에 접근할 수 없다

TypeError: 'set' object is not subscriptable

In [27]:
set1 = {1,2,3,4,5}
set2={4,5,6}
print(set1|set2) #합집합
print(set1&set2) #교집합
print(set1-set2) #차집합
print(set1^set2) #대칭차집합 (합집합 - 교집합)
print(1 in set1)
print(len(set1))
print({1,2} in set1) #{{1,2},3,4,5}

{1, 2, 3, 4, 5, 6}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6}
True
5
False

In [28]:
#add():집합에 원소 추가, 이미 있는 경우 추가 안됨
nums = {1,2,3}
nums.add(4)
print(nums)
nums.add(2) #이미 있는 경우 중북 추가 안됨
print(nums)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [29]:
#remove():원소 제거, 집합에 없으면 에러
nums = {1,2,3}
nums.remove(2)
print(nums)
nums.remove(2)

{1, 3}

KeyError: 2

In [31]:
#discard() : 원소 제거, 집합에 없어도 에러 발생하지 않음
nums = {1,2,3,4}
nums.discard(4)
print(nums)
nums.discard(5) #에러 발생하지 않음

{1, 2, 3}

In [32]:
#update():여러개의 원소를 한번에 추가, 입력의 자료형은 리스트,튜플,집합등 사용 가능
nums.update({1,2,4})
print(nums)

{1, 2, 3, 4}

In [33]:
print(nums[3])
print(nums[:3])

TypeError: 'set' object is not subscriptable

### None : 값이 없는 상태를 나타내는 자료형
### complex 복소수 complex number 자료형: 실수부 + 허수부j, complex(실수부, 허수부)
### bytes : 주로 네트워크 통신, 파일 입출력(이미지, 실행 파일), 암호화 등 바이너리 데이터를 다룰 때 사용, 변경 불가능(Immutable) 한 번 생성하면 내부 값을 바꿀 수 없다, 0부터 255 사이의 정수(8비트)만 원소로 가질수 있다, b'   ' 형태로 사용.

In [34]:
#None 자료형
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

In [39]:
if a is not None:
  print(a)

In [45]:
# complex 자료형
a = 3+4j
b= complex(3,4)
print(a)
print(type(a))
print(b)
print(type(b))
print(a+b)

(3+4j)
<class 'complex'>
(3+4j)
<class 'complex'>
(6+8j)

In [40]:
#bytes 자료형
name = b'happy' #아스키 코드 값
print(name[0])
print(name[0:2])

104
b'ha'

In [42]:
#문자열을 바이트로 바꿀때
b = bytes('hello', encoding = ' utf-8') # 윈도우 한국어 기본값 encoding = 'cp949'
print(b)

b'hello'

In [43]:
#한글의 경우
b_ko = bytes('안녕', encoding = 'utf-8')
print(b_ko)

b'\xec\x95\x88\xeb\x85\x95'

### 파이썬의 자료형은 데이터의 값을 생성 후 변결할 수 있는지에 따라 '가변(mutable)' 과 '불변(immtable)'으로 나윔
###불변(immutable)
* int,float,bool,str,tuple
* 만약 값을 바꾸려고 하면, 기존 객체가 변하는것이 아닌, 새로운 값을 가진 객체가 생성되고 변수가 그 새 객체를 가리키게 된다.
* 데이터가 안전하게 보호되며, 딕셔너리의 키로 사용할 수 있다.
* 데이터가 안전하게 보호되며, 딕셔너리의 키로 사용할 수 있다.
값 변경 불가능 , 새 객체 생성
* 값이 바뀌면 메모리 주소도 바뀜
* 상수, 딕셔너리 키에서 사용
* 값 변화가 예측 가능, 안정성이 높음

###가변(mutable)
* list,dict,set
* 객체가 생성된 후에도 내부의 값을 자유롭게 변경 할 수 있는 자료형, 새로운 객체를 만들지 않고 기존 메로리 주소에서 값만 바뀐다.
* 데이터의 추가 , 삭제 , 수정이 빈번한 경우 효율적. 하지만 여러 변수가 동시에 참조할때 예상치 못한 부작용이 발생할 수 있다.
* 값 변경 가능, 기존 객체 수정
* 값이 바뀌어도 메모리 주소는 그대로
* 데이터 모음, 동적 리스트에서 사용
* 참조 공유시 주의 필요, 안정성이 낮

In [47]:
#1 불변 객체
a= 10
b=a
a=a+5
print(a)
print(b)

#2 가변 객체
list_a=[1,2,3]
list_b=list_a
list_a.append(4)
print(list_a)
print(list_b)

15
10
[1, 2, 3, 4]
[1, 2, 3, 4]

### 데이터 타입

* numeric type: int, float, complex

* sequence type: list, tuple, range

* text sequence type: str

* set types: set

* mapping types: dict

* 기타: none, boolean, functions